.App {
  background-image: url(/src/images/backgroundview.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App a {
  color: pink;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.App a:hover {
  color: rgb(173, 97, 110);
}
