.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/images/backgroundview.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-size: calc(10px + 2vmin);
}

.Weather-container {
  width: 800px;
  height: 400px;
  border: 1px solid fff;
  border-radius: 30px;
  box-shadow: 0 0 20px black;
  background: rgba(255, 255, 255, 0.6);
}

.Sign {
  margin-top: 130px;
}
